QMainWindow {
    background-color: #18122B;    
}

.general {
    font-size: 18px;
    color: white;
    font-family: 'Nunito SemiBold';
    background-color: #443C68;
}

.roundCorners {
    border-radius: 15px;
}

.labelG {
    font-size: 20px;
    border: 2px solid white;
    color: white;
}

.leClicked {
    font-style: normal;
    padding-left: 10px;
}

.dirEdit {
    font-style: italic;
    padding-left: 10px;
}

.uploadBtn {
    background-color: #433180;
}

.uploadBtn:hover {
    background-color: #635985;
}
