QMainWindow {
    background-color: #012A4A;    
}

.general {
    font-size: 16px;
    font-family: 'Nunito SemiBold';
}

.roundCorners {
    border-radius: 15px;
}

.leClicked {
    font-style: normal;
    padding-left: 10px;
}

.dirEdit {
    font-style: italic;
    padding-left: 10px;
}

.uploadBtn {
    background-color: #61A5C2;
}

.uploadBtn:hover {
    background-color: #A9D6E5;
}
